

.singleGrumb {
	font-size: 36px;
}

.containerHome {
	width: 1000px;
	margin: 0 auto;
  /*margin-top: 275px;*/
}

.container {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.voteButton {
	width: 50px;
	/*border: 1px solid black;
	border-radius: 5px;*/
	margin: 10px;
}

.buttonUp {
	width: 40px;
	height: 40px;
	border-style: none;
	background-image: url(../images/icons/buttonUp.png);
	background-size: cover;
	background-color: inherit;
}

.buttonDown {
	width: 40px;
	height: 40px;
	border-style: none;
	background-image: url(../images/icons/buttonDown.png);
	background-size: cover;
	background-color: inherit;
}

.voteCount {
	width: 50px;
	font-size: 24px;
	text-align: center;
	padding: 10px;
	color:rgb(131, 119, 188);
}

.voteGrumb {
	width: 1000px;
	border: 1px solid black;
	border-radius: 5px;
	margin: 0 auto;
	display: flex;
	border: 1px solid #ccc;
	background-color: white;
}

.voteGrumb:hover {
	background-color: rgb(245,248,250);

}

form {
	margin: 10px;
}

form > h3 {
	font-size: 24px;
}

.responseBox {
/*width: 1000px;*/
/*border: 1px solid black;
	border-radius: 5px;*/
	margin: 0 auto;
}

.responseInput {
	/*width: 945px;
	height: 250px;*/
	margin: 15px;
	border-radius: 5px;
	border-style: inherit;
	border: 1px solid black;
}

.link {
	text-decoration: none;
	color: black;
}

h2 {
	font-size: 36px;
}

.singleGrumb {
	font-size: 48px;
}

li {
	list-style: none;
}

li:hover {
	color: red;
}


footer {
	width: 1000px;
	margin: 0 auto;
	text-align: center;
}
button {
	border-radius: 5px;
	background-color: white;
}
input{
	border-radius: 5px;
	background-color: white;
	width:100%;
}


.signWrap {
	width: 900px;
	margin:  auto;
	text-align: center;
}
#logIN {
	width: 500px;
	margin:  auto;
	text-align: center;
}
.mainGrumbs{
	/*background-color: white;*/
}
textarea {
	border-radius: 4px;
	width:100%;
}
#grumbdby {
	color:rgb(131, 119, 188);
}
